In [1]:
a=[100, 234, 120, 111, 121, 201, 216, 239, 140,190,167,238,236,219,216,170]


Creating A array of Values in to data frame (making it as a table in python itself)

In [2]:
a=[100, 234, 120, 111, 121, 201, 216, 239, 140,190,167,238,236,219,216,170]
import pandas as pd
b=pd.DataFrame(data={'numbers':[100, 234, 120, 111, 121, 201, 216, 239, 140,190,167,238,236,219,216,170]})
b

    numbers
0       100
1       234
2       120
3       111
4       121
5       201
6       216
7       239
8       140
9       190
10      167
11      238
12      236
13      219
14      216
15      170

In [3]:
b.describe()

         numbers
count   16.00000
mean   182.37500
std     50.04781
min    100.00000
25%    135.25000
50%    195.50000
75%    222.75000
max    239.00000